<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  
  <packageSources>
    <add key="Quarterspot" value="https://www.myget.org/F/4d0932f36f444bb78a276648b221eea3/auth/729b9818-ce9f-4419-924d-81b0ac18934a/api/v3/index.json" />
  </packageSources>
  
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
</configuration>