<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="queueConnections" value="DefaultEndpointsProtocol=https;AccountName=nirvanaazuretest;AccountKey=261zLouMSVgpmmQNlXSmEqH3FUWa0YmXHfT/3eI1+T4lHhHPxrRhzNsjP9men0yAxeXtjpON4lFk6xxJ+r8mNQ==;" />
  </appSettings>

</configuration>