<alert *ngFor="let alert of errorMessages;let i = index" [type]="'danger'" dismissible="false">  {{ alert?.Message}}</alert>
<alert *ngFor="let alert of exceptionMessages;let i = index" [type]="'danger'" dismissible="false">  {{ alert?.Message }}</alert>
<alert *ngFor="let alert of warningMessages;let i = index" [type]="'warning'" dismissible="false">  {{ alert?.Message }}</alert>
<alert *ngFor="let alert of infoMessages;let i = index" [type]="'success'" dismissible="false">  {{ alert?.Message }}</alert>

