<div >
    <div class="apa">
        <div class="apb">
            <h2 class="apc">Dashboard</h2>
        </div>
    </div>

    <div class="row">
        <server-message-list></server-message-list>
    </div>



    <div class="row">
        <div class="col-xs-6 text-left">
            <button class="btn btn-primary" (click)="createTestCatalog()">Create Test Catalog</button>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-6 text-left">
            <H1>test basic throughput</H1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-left">

            <button class="btn btn-primary" (click)="sendCommand()">send test command</button>
        </div>
        <div class="col-xs-6 text-right">

            <button class="btn btn-primary" (click)="clear()">Clear Messages</button>
        </div>
    </div>
    <div class="row">

        <div class="col-xs-6">
            <textarea class="form-control" cols="50" rows="15" [value]="sentMessage"></textarea>
        </div>
        <div class="col-xs-6">
            <textarea class="form-control" cols="50" rows="15" [value]="receivedMessage"></textarea>
        </div>
    </div>



</div>