<div [hidden]="!loggedIn">

    <div class="apa">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="apc">Search Results {{searchTerm}}</h2>

            </div>
            <div class="col-sm-6">
                <span>  <a (click)="clearFilter()" [hidden]="!filter">(Clear)</a> </span>

            </div>

        </div>

        <server-message-list></server-message-list>

        <div class="row ">
            <div *ngIf="customers" class="text-right">
                <pagination [totalItems]="customers.Customers.Total" [(ngModel)]="page"
                            [itemsPerPage]="customers.Customers.PerPage" [maxSize]="5"
                            (pageChanged)="pageChanged($event)"
                            class="pagination-sm" [boundaryLinks]="true">
                </pagination>
            </div>
        </div>
    </div>
    <div class="row ">
        <div *ngIf="customers">
            <ul>
                <li *ngFor="let customer of customers.Customers.Results" class="list-group-item col-sm-6">
                    <A (click)="gotoDetail(customer)">{{customer.Name}}</A>
                </li>
            </ul>
        </div>
    </div>


</div>
